@import 'fonts.css';

body {
    font-family: 'Open Sans';
  
}


ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    background: #fff;
    color: #212121;
    padding: 20px 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
   
}

.menu__item a:hover {
    text-decoration: none;
    color: #868686;
}

.header > div {
    padding: 180px 0;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: 0 100%;

}

.header__title {
    font-size: 55px;

}

.header__text {
    font-size: 20px;
    margin-bottom: 180px;
}

.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: white;
    transition: 0.3s;
}

.button_empty {
    background: transparent;
    border: 2px solid white;
}

.button_full {
    background: #00897b;
    border: 2px solid #00897b;
}

.button_empty:hover,
.button_full:hover {
    border: 2px dotted #04574e;
}

.about{
    padding-top: 120px;
    padding-bottom: 125px;
    color: #000;
    background: #fff;
    text-align: center;
}

.about__title {
    font-size: 30px;
    font-weight: bold;
}

.about__text {
   font-size: 15px;
   margin-bottom: 110px;
   color: #212121;
}

.about_h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Open Sans Semibold';
}